VITE_SUPABASE_URL=https://pklefsqlhpxpvwuhukrc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBrbGVmc3FsaHB4cHZ3dWh1a3JjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTY3ODEsImV4cCI6MjA4ODM3Mjc4MX0.uOmstn-4MdlflHLhCXlfljIfOwJjJlMSXiplKbnHRtQ